/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*  IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*  BODY & DOCUMENT */

* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;

  color: inherit;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;

  background: #202020;
  color: whitesmoke;
}

/*  NAV BAR */

nav {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  background-color: #448D4C;
}

a {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

a:hover {
  opacity: 0.7;
}

.text {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list {
  display: none;

  position: absolute;
  top: 8vh;
  right: 0%;
  height: 92vh;
  width: 100vw;
  z-index: 5;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: backgroundAppears forwards 1s;
          animation: backgroundAppears forwards 1s;
}

.nav-list li {
  z-index: 5;
  font-size: 16px;
  margin-left: 32px;
  letter-spacing: 3px;

  text-align: center;
  cursor: pointer;
  -webkit-animation: navLinkFade 3s forwards 3s;
          animation: navLinkFade 3s forwards 3s;
}

.container {
  height: 82vh;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-auto {
  height: auto;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* OTH */

.line {
  width: 50vw;
  margin: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;

  border: whitesmoke solid 1px;
  -webkit-animation: lefttoright 5s ease forwards;
          animation: lefttoright 5s ease forwards;
}

#slogan {
  text-align: center;

  margin-left: 10%;
  margin-right: 10%;
}

/* TABELA */

table,
td,
th {
  text-align: left;
  border: 2px solid #161616;
}

table {
  margin-top: 3%;
  width: 100vw;
  border-collapse: collapse;
}

th {
  padding: 5px;
  height: 50px;
  background-color: #161616;
}

td {
  padding: 5px;
  background-color: #161616;
}

table tr th a {
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 3%;
}

table tr td a {
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 3%;

  color: #448D4C;
  background-color: #353535;
}

/* BLOCKS */

div.container-icons {
  height: 250px;
  width: 280px;
  margin: 3%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  border-radius: 5px;
  background-color: rgba(68, 141, 76, 0.85);
}

div.container-icons div.line {
  margin: 20px;
}

div.container-icons h4 {
  text-align: center;

  margin-left: 5%;
  margin-right: 5%;
}

/*  BOTÕES */

.buttons {
  padding: 5px 20px;
  border-radius: 15px;
  margin: 3%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  border: none;
  color: #161616;
  font-size: 1.3rem;
  background-color: #448D4C;
  -webkit-box-shadow: #161616 10px 10px 10px;
          box-shadow: #161616 10px 10px 10px;
}

.buttons-min {
  padding: 3px 20px;
  border-radius: 15px;
  margin: 1%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border: 2px solid #161616;
  color: #161616;
  font-size: 1rem;
  background-color: #448D4C;
}

.buttons:hover {
  -webkit-animation: uptodown ease 3s forwards;
          animation: uptodown ease 3s forwards;
}

/*  IMAGENS */

img.logo {
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
  margin-top: 2%;

  border-radius: 100px;
  -webkit-box-shadow: #161616 10px 10px 10px;
          box-shadow: #161616 10px 10px 10px;
}

img.logo-min {
  max-height: 85px;
  max-width: 85px;
  height: auto;
  width: auto;
  margin-top: 1%;

  border-radius: 100px;
}

img.logo:hover {
  -webkit-animation: rotate ease 2s;
          animation: rotate ease 2s;
}

img.logo-min:hover {
  -webkit-animation: rotate ease 2s;
          animation: rotate ease 2s;
}

/* MENU */

div.menu div.line1,
div.menu div.line2,
div.menu div.line3 {
  width: 32px;
  height: 2px;
  background: whitesmoke;
  margin: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* FLEX-ALIGN */

.flex {
  height: 100%;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* FOOTER */

footer {
  width: 100%;
  height: 12vh;
  font-size: 18px;

  background-color: #448D4C;
}

/* KEYFRAME */

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes backgroundAppears {
  to {
    background-color: #161616;
  }
}

@keyframes backgroundAppears {
  to {
    background-color: #161616;
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scaled {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scaled {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes uptodown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes uptodown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes lefttoright {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lefttoright {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* MEDIA */

@media (min-width: 800px) {
  div.container-icons:hover {
    -webkit-animation: scaled ease 1s forwards;
            animation: scaled ease 1s forwards;
  }
}
