/* VARIÁVEIS */

:root {
  --color-back: white;
  --color-barroll: black;
  --menu: black;
  --menu-text: white;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

/* BODY */

body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: no-repeat fixed url('../src/wallpaper.png');
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  background-color: var(--color-back);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* MENU */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--menu);
  height: 50px;
}

.menutext {
  margin: 2%;
  display: flex;
  cursor: pointer;
  color: var(--menu-text);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* TELA INICIAL / HOME */

.container {
  width: 100%;
  margin: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
}

.container-base {
  width: 100%;
  margin: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.container-item {
  margin-top: 8em;
  color: var(--menu-text);
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 0 0 0.2em var(--color-barroll), 0 0 0.2em var(--color-barroll);
}

.container-block {
  width: 20vw;
  height: 8vh;
  margin: 3%;
  background-color: var(--color-barroll);
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.281) 4px 3px 4px;
}

.block-text {
  margin: 2%;
  display: flex;
  cursor: pointer;
  color: var(--menu-text);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* GUA DE COMANDOS */

.containercommand {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.containercommand-bl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.containercommand-block {
  display: flex;
  margin-top: 8%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: var(--color-barroll);
  border-radius: 15px;
  color: var(--menu-text);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: #ca2d2e 4px 3px 4px;
}

.containercommand-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: var(--color-barroll);
  border-radius: 15px;
  margin: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: var(--menu-text);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: rgba(255, 255, 255, 0.281) 4px 3px 4px;
}

/* BLOCOS DO SUPORTE */

.container-sup {
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-box-sup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #222020;
  height: auto;
  width: 24em; /* 20 */
  margin: 2%;
  border-radius: 15px;
  color: whitesmoke;
}

.container-box-sup h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 6%;
  margin-top: 0%;
}

.container-box-sup a {
  background-color: #ca2d2e;
  color: black;
  border-radius: 20px;
  border: black solid 2px;
  padding: 2% 2%;
  margin-bottom: 4%;
  margin-top: 8%;
  opacity: 0.5;
  font-size: 14px;
}


/* GMAIL BOX */

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gmail-box {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.616);
  border-radius: 20px;
  border: #ca2d2e solid 2px;
  padding: 3% 8%; /* 3% 0% */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.message-box {
  display: flex;
  padding: 8% 6%;
  resize: none;
  overflow: hidden;
  width: 20em; /* 16em */
  color: rgba(0, 0, 0, 0.616);
  box-shadow: 0 0 0 0;
  outline: 0;
}

.gmailtext {
  display: flex;
  width: 10em;
  color: rgba(0, 0, 0, 0.616);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0%;
  font-size: 12px;
}

/* SEND */

#send {
  background-color: #ca2d2e;
  color: black;
  border-radius: 20px;
  border: black solid 2px;
  padding: 2% 2%;
  margin-bottom: 4%;
  margin-top: 8%;
  opacity: 0.5;
  font-size: 14px;
}

/* TERMOS DE USO */

#blocktos {
  display: flex;
  height: auto;
  width: 80vw;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: var(--color-barroll);
  text-align: center;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.521) 5px 4px 5px;
}

#texttos {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--menu-text);
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 8%;
  margin-right: 8%;
}

#button {
  background-color: var(--menu-text);
  color: var(--color-barroll);
  border-radius: 10px;
  padding: 1% 2%;
  font-size: 14px;
  text-decoration: none;
  outline: none;
}

/* FOOTER */

#footersol {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--menu);
  height: 90px;
}

#fontfooter {
  text-decoration: none;
  color: var(--menu-text);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  margin: 16%;
}

/* LÂMPADA */

#lamp {
  width: 50px;
  height: 50px;
  background-size: 100%;
  position: fixed;
  top: 96%;
  left: 96%;
  transform: translate(-96%, -96%);
}

/* SCROLL BAR */

body::-webkit-scrollbar {
  margin: 2%;
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--color-barroll);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color-barroll);
  border-radius: 100px;
  border: 0px solid var(--color-barroll);
} /* #C77CA3 */

/* HOVER'S */

.containercommand-item:hover {
  transform: scale(1.1);
}

.containercommand-block:hover {
  transform: scale(1.1);
}

.container-block:hover {
  transform: scale(1.1);
}

.menutext:hover {
  animation: opaco 4s infinite alternate;
}

.container-box-sup a:hover {
  animation: sad 3s alternate infinite;
}

#send:hover {
  animation: sad 3s alternate infinite;
}

/* MEDIA */

@media screen and (max-width: 600px) {
  .menutext {
    font-size: 17px;
  }

  .container-block {
    height: 6vh;
  }

  .block-text {
    margin: 10%;
    font-size: 16px;
  }

  .containercommand-block {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: var(--color-barroll);
    border-radius: 15px;
    color: var(--menu-text);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: #ca2d2e 4px 3px 4px;
  }
  
  .container-box-sup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #222020;
    height: auto;
    width: 20em; /* 20 */
    margin: 2%;
    border-radius: 15px;
    color: whitesmoke;
  }
  
  .gmail-box {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.616);
    border-radius: 20px;
    border: #ca2d2e solid 2px;
    padding: 3% 0.1%; /* 3% 0% */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 90%;
  }
  
  .message-box {
    display: flex;
    padding: 8% 6%;
    resize: none;
    overflow: hidden;
    width: 16em; /* 16em */
    color: rgba(0, 0, 0, 0.616);
    box-shadow: 0 0 0 0;
    outline: 0;
  }
}

/* KEYFRAME'S */

@keyframes opaco {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sad {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
